@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
 --titleColor:
 --primaryColor: 
 --hoverColor:
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}
.container{
    display: grid;
    gap: 5rem;
}
.top-block .title{
    font-size: 4rem;
    color:#0ff0fc;
    padding-bottom: 10px;
} 
.top-block .sub-title{
    letter-spacing: 5px;
    color: white;
}
.middle-block{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.middle-block h2{
    font-size: 4rem;
    color: white;
}
.middle-block h2 span{
    font-size: 1.5rem;
}
.footer-block{
    display: block;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.footer-title{
    color:white
}
.footer-block .social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
}
.footer-block .social-icons i{
  color: #0ff0fc;

}
.bg-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (max-width: 685px){
    .container .title{
        font-size: 2.5rem;
    }
    .container .sub-title{
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .middle-block{
       gap: 1rem; 
    }
    .middle-block h2{
        font-size: 3rem;
    }
    .middle-block h2 span{
        font-size: 1rem;
    }
}